:root {
    --primary-color: #B84B44;
    --secondary-color: #FAE7E0;
    --login-background-color: #fae7e0b1;
    
    --base-clr: #B84B44;
    --line-clr: rgba(255, 255, 255, 0.15);
    --hover-clr: rgba(255, 255, 255, 0.1);
    --text-clr: #ffffff;
    --accent-clr: #ffffff;
    --secondary-text-clr: rgba(255, 255, 255, 0.7);
    --content-bg: #FAE7E0;
}

@font-face {
  font-family: 'Deserta'; 
  src: url('../fonts/Deserta.otf') format('opentype');
  font-weight: normal; 
  font-style: normal;
}