:root {
    --primary-color: #B84B44;
    --secondary-color: #FAE7E0;
    --login-background-color: #fae7e0b1;
}

@font-face {
  font-family: 'Deserta'; 
  src: url('../fonts/Deserta.otf') format('opentype');
  font-weight: normal; 
  font-style: normal;
}